/*** Universal Reset ***/
* {
    box-sizing: border-box;
}

/*** Body Styling ***/
body {
    background: 
    linear-gradient(rgb(46, 67, 94, 0.45), rgb(46, 67, 94, 0.45)), url("../images/js-background.jpg");
    background-size: cover;
    font-family: sans-serif;
}

/*** Header ***/
#high-scores-link, #timer {
    background-color: white;
    border-radius: 5px;
    padding: 0.5%;
    font-size: large;
    margin-top: -.5rem;
}

#high-scores-link {
    float: left;
    text-align: left;
    align-content: left;
    text-decoration: none;
}

#timer {
    float: right;
    align-content: right;
}

/*** Main Sections of the Website ***/
#container {
    height: 100vh;
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    clear: both;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 10%;
}

h3 {
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: xx-large;
}

p, #questions.question {
    color: black;
    text-shadow: .5px .5px white;
    text-align: center;
    font-size: x-large;
}

input {
    text-align: center;
    font-size: large;
}

button {
display: block;
background-color: #2e435e;
border-radius: 10px;
border: 3px double #cccccc;
color: #eeeeee;
text-align: center;
font-size: 15px;
padding: 20px;
width: 200px;
justify-content: center;
align-items: center;
margin: 0 auto;
}

button:hover {
    box-shadow: 4px 3px 6px #2e435e;
}

#intro-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz-card {
    display: none;
    justify-content: center;
    align-items: center;
}

#quiz-card button {
    width: 500px;
}

#choice-result {
    display: none;
}

#user-score-card {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

#past-scores {
    display: none;
    width: 50%;
    border: solid;
    border-color: silver;
    border-bottom-style: groove;
    padding-bottom: .3rem;
    background: lightsteelblue;
}

#high-scores-header {
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: #2e435e;
    color: #eeeeee;
}
#high-scores-card {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initials {
    margin: .5rem;
    height: 1.75rem;
}

#player-initials {
    display: inline-block;
    padding-left: 5.7rem;
    font-weight: bold;
}

#player-score {
    float: right;
    padding-right: 4.5rem;
    font-weight: bold;
}

li {
    padding-bottom: 3px;
    color: white;
    text-shadow: 1.5px 1px 3px black;
    list-style-type: none;
}

#user-score {
    padding-bottom: 0.5rem;
    font-size: x-large;
    font-weight: bold;
}

#game-btns {
    display: none;
}