* {
    box-sizing: border-box;
}

header {
    background-color: white;
}

.highScores {
    /* float: left; */
    text-align: left;
    align-content: left;
}

.timer {
    /* float: right; */
    text-align: right;
    align-content: right;
}

body {
    background-image: url("../images/js-background.jpg");
    background-size: cover;
}

section {
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}