* {
    box-sizing: border-box;
}

.highScores, .timer {
    background-color: white;
    border-radius: 5px;
    padding: 0.5%;
}

.highScores {
    float: left;
    text-align: left;
    align-content: left;
}

.timer {
    float: right;
    text-align: right;
    align-content: right;
}

body {
    background: 
    linear-gradient(rgb(46, 67, 94, 0.45), rgb(46, 67, 94, 0.45)), url("../images/js-background.jpg");
    background-size: cover;
}

section {
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    clear: both;
}